*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
    


/* logo */
.col-12.black{
    background-color: black;
}
.row.logo{
    justify-content: flex-end;
    padding: 10px 10px 10px 0;
}
header .row img{
    max-width: 200px;
}
/* end logo */



/* navbar */
.navbar-light .navbar-nav .nav-link{
    color: black;
}
nav i{
    font-size: 30px;
    color: rgba(0,112,209,255);
}

.btn.btn-dark{
    border-radius: 30px;
    margin-right: 20px;
}
/* end navbar */



/* jambo */
.container-fluid.due{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
#jambo img{
    max-width: 100%;
}
#space{
    height: 300px;
}
#jambotext{
    margin-left: 30px;
}
#jambotext h1{
    color: white;
}
#jambotext p{
    color: white;
}
.container.jambo{
    margin-top: 30px;
}
.container.jambo .col{
    padding: 10px 10px;
    border-radius: 40px;
}
.container.jambo .row img{
    max-width: 200px;
    border-radius: 20px;
}
.img-thumbnail{
    border: 2px solid blue;
}
/* end jambo */

/* main */
main .container.nolimits{
    text-align: center;
    margin-top: 60px;
}
main .container.nolimits h4{
    color: blue;
}
main .container.nolimits p{
    color: grey;
}
main .container.nolimits h1{
    color: rgb(0, 0, 0);
}
.container.console{
    margin-top: 200px;
}
.col.maggioriinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.col.maggioriinfo h1{
    color: black;
}
.btn.btn-primary{
    border-radius: 20px;
}
.container.console p{
    color: grey;
}
.container.console img{
    max-width: 100%
}
.thumbconsole img{
    width: 150px;
}
.thumbconsole p,.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container-fluid.nolimits h1{
    color: black;
}
.row.cardss{
    justify-content: space-around;
}
.card{
    border: none;
}
.container-fluid.soul{
    background-color: rgba(190,188,187,255);
}
#logopsp{
    max-width: 250px;
}
.container-fluid.soul .col-12{
    margin-top: 150px;
    margin-left: 30px;
}
#april{
    max-width: 100%;
    height: auto;
}
.btn.btn-outline-secondary{
    border-radius: 20px;
    color: blue;
}

.row.store img{
    max-width: 100%;
    height: auto;
}

.container-fluid.now{
    background-color: rgba(22,28,59,255);
    margin-top: 50px;
}
#nowpsp{
   max-width: 250px;
}
.container-fluid.soul .col-12{
    margin-top: 150px;
    margin-left: 30px;
}
#aprilnow{
    max-width: 100%;
    height: auto;
}
.container-fluid.now .col-12{
    margin-top: 150px;
    margin-left: 30px;
}
.container-fluid.now .col-12 p{
    color: white;
}
.btn.btn-outline-dark{
    background-color: white;
    border-radius: 20px;
}

.container.social{
    text-align: center;
    margin-top: 50px;
}
.row.sociallogo{
    margin-top: 30px;
}
.row.sociallogo img{
    max-width: 200px;
    height: auto;
}


/* secondo jambo */
.container-fluid.tre{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.container-fluid.jambotwo{
    background-color: rgba(31,31,31,255);
}
.container-fluid.jambotwo .col{
    padding: 10px 10px;
    border-radius: 40px;
}
.container-fluid.jambotwo .row img{
    max-width: 200px;
    border-radius: 20px;
}
.container-fluid.jambotwo p,h1,h2{
    color: white;
}
/* end secondo jambo */


/* end main */

/* footer */

.container-fluid.end{
    background-color: rgba(0,67,156,255);
    margin-top: 50px;
}

li {list-style-type: none;}

.container-fluid.end p{
    color: white;
}
.container-fluid.end .col-12{
    margin: 30px 0 0 30px;
}

#principallogo{
    filter: brightness(0) invert(1);
    width: 100px;
}
.fas.fa-globe{
    color: white;
}
.container-fluid.end .col-4 a{
       text-decoration: none;
       color: white;
}
.container-fluid.end .col-4{
    margin-top: 30px;
}

#sonylogo{
    width: 100px;
}






@media all and (max-width:576px){

    #april{
        display: none;

    }

    #aprilnow{
        display: none;
    }
}















