*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

/* [class*="col-"]
    

[class*="col"] */


.container-fluid.due{
    height: 400px;
}
.col-12.black{
    background-color: black;
}
.row.logo{
    justify-content: flex-end;
    padding: 10px 10px 10px 0;
}
.row img{
    max-width: 200px;
}








